.AppStore {
  background-color: #1f1d1d;
  width: 100%;
  height: 260px;
  display: flex;
  align-items: center;
}

.backImage {
  width: 100%;
  background-image: url("../../assets/website/coffee-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.titleAppStore {
  color: #fff;
  font-size: 2rem;
  font-family: "Dancing Script";
  margin-bottom: 1rem;
}

.containerTextAppStore {
  padding: 3rem 0 1rem 15rem;
}

.containerImages {
  display: flex;
  flex-direction: row;
}

.appStoreImage {
  width: 200px;
}