.Testimonials {

}

.container {
  width: 100%;
  height: 500px;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.testimonialTitle {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.testimonialCard {
  display: flex;
  padding: 0 0.5rem;
  box-sizing: border-box;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid #000; */
  border-radius: 8px;
  height: 310px;
  /* box-shadow: 0 4px 6px rgba(0 ,0 ,0 ,0.1), 0 1px 3px rgba(0 ,0 ,0 ,0.06); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageSection {
  width: 110px;
  height: 110px;
  border: 2px solid #949393;
  border-radius: 50%;
  margin-top: 30px;
}

.imageSection img {
  width: 109px;
  height: 109px;
  border-radius: 50%;
}

.textSection {
  width: 310px;
  height: 180px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimony {
  font-size: 1rem;
  padding: 0;
}

.customerName {
  font-size: 1.5rem;
  
}